<section id="profile">
  <div class="parallax parallax_header">
    <div class="header_img_block">
      <div style="background-image:url('profile_header.jpg');" class="profile_header"></div>
      <div class="profile_icon_block">
        <img src="profile.jpg" class="profile_icon">
      </div>
    </div>
  </div>
  <div class="parallax parallax_prof">
  <h1>Hajime Watanabe</h1>
  <div class="sns_block">
    <a href="https://twitter.com/hatsu_38">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.facebook.com/hajiwata.38">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://github.com/toywonder">
      <i class="fab fa-github"></i>
    </a>
    <a href="http://amzn.asia/4XLjbqw">
      <i class="fab fa-amazon"></i>
    </a>
  </div>
  <div class="profile_text_block">
    <p>カフェでコード描く24歳。「ユーザー数×顧客満足度」が自分のサービスでどこまで最大化出来るか、それが幸せ。スタバ / TED/ 将棋 / プラネタリウム / Ruby / Rails / Vue.js</p>
  </div>
  </div>
</section>

<div class="section_border"></div>

<section id="projects">
  <div class="parallax parallax_title_project">
    <h2 class="section_title">Project</h2>
  </div>
  <div class="parallax parallax_content_project">
    <div class="project">
      <img src="tedradio_ogp.png" class="project_img">
      <div class="project_info">
        <h3 class="project_title">TEDRadio</h3>
        <span class="project_date">2018.11</span>
      </div>
    </div>
    <div class="project">
      <img src="metagallery_ogp.png" class="project_img">
      <div class="project_info">
        <h3 class="project_title">Metagallery</h3>
        <span class="project_date">2018.10</span>
      </div>
    </div>
    <div class="project">
      <img src="cafepedia_ogp.png" class="project_img">
      <div class="project_info">
        <h3 class="project_title">Cafepedia</h3>
        <span class="project_date">2018.9</span>
      </div>
    </div>
  </div>
</section>

<div class="section_border"></div>

<section id="skill">
  <div class="parallax parallax_title_skill">
    <h2 class="section_title skill_section_title">Skills</h2>
  </div>
  <ul class="list-group skills parallax parallax_content_skill">
    <li class="html_skill">
      <span class="skill_name">HTML5</span>
      <!-- <span class="skill_level">Lv.5</span> -->
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%">Lv.5</div>
      </div>
    </li>
    <li class="css_skill">
      <span class="skill_name">CSS3</span>
      <!-- <span class="skill_level">Lv.5</span> -->
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%">Lv.5</div>
      </div>
    </li>
    <li class="ruby_skill">
      <span class="skill_name">Ruby</span>
      <!-- <span class="skill_level">Lv.4</span> -->
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%">Lv.4</div>
      </div>
    </li>
    <li class="js_skill">
      <span class="skill_name">Javascript</span>
      <!-- <span class="skill_level">Lv.4</span> -->
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%">Lv.4</div>
      </div>
    </li>
    <li class="ror_skill">
      <span class="skill_name">RubyOnRails</span>
      <!-- <span class="skill_level">Lv.4</span> -->
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%">Lv.4</div>
      </div>
    </li>
    <li class="jquery_skill">
      <span class="skill_name">jQuery</span>
      <!-- <span class="skill_level">Lv.4</span> -->
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%">Lv.4</div>
      </div>
    </li>
    <li class="vue_skill">
      <span class="skill_name">Vue.js</span>
      <!-- <span class="skill_level">Lv.3</span> -->
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%">Lv.3</div>
      </div>
    </li>
    <li class="heroku_skill">
      <span class="skill_name">Heroku</span>
      <!-- <span class="skill_level">Lv.3</span> -->
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%">Lv.3</div>
      </div>
    </li>
    <li class="github_skill">
      <span class="skill_name">Github</span>
      <!-- <span class="skill_level">Lv.3</span> -->
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%">Lv.3</div>
      </div>
    </li>
    <li class="aws_skill">
      <span class="skill_name">AWS</span>
      <!-- <span class="skill_level">Lv.2</span> -->
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%">Lv.2</div>
      </div>
    </li>
  </ul>
</section>

<div class="section_border"></div>

<section id="act">
  <div class="parallax parallax_title_act">
    <h2 class="section_title">Act</h2>
  </div>
  <div class="parallax parallax_content_act">

    <div class="github_contribution">
      <div class="github_title">
        <a href="https://github.com/toywonder" target="_blank">
          <img src="https://avatars.githubusercontent.com/toywonder?s=40">
          toywonder's Contributions
        </a>
      </div>
      <div class="github_body">
        <img src="https://ghchart.rshah.org/toywonder" class="github_grass">
        <div class="github_links">
          <span class="github_powered">Powered by
            <a href="https://ikuwow.github.io/yourcontributions/" target="_blank">Yourcontributions</a>
          </span>
          <a href="https://github.com/toywonder" target="_blank" class="github_seeon">See on GitHub</a>
        </div>
      </div>
    </div>
    <div class="read_books">
      <script type="text/javascript" src="//widget.booklog.jp/blogparts/js/booklog_minishelf.js?default" id="booklog_minishelf"></script>
      <script type="text/javascript" src="//api.booklog.jp/json/7e6d5ae388ea0f45?category=0&count=35&callback=booklog_minishelf"></script>
    </div>
  </div>
</section>
