<section id="projects">
  <ul class="project tedradio_project">
    <!-- <h2>TEDRadio</h2> -->
    <li class="favicon_block">
      <div class="service_img_cover">
        <img src="tedradio/favicon.png">
      </div>
    </li>
    <li class="ogp_block">
      <div class="service_img_cover">
        <img src="tedradio/tedradio_ogp.png">
      </div>
      <div class="description_text">
        <p class="service_title">TEDRadio | 日本語音声で聞けるTEDメディア</p>
        <p>TEDRadioは、外国語のTEDでも日本語音声で聞けるTED日本語音声メディアです。字幕を見るために目が離せなくなっていたTEDも、楽に聞けるようになりました。有名TEDを是非日本語で聞いてみてください！</p>
      </div>
    </li>
    <li class="imac_block">
      <div class="service_img_cover">
        <img src="imac.png">
      </div>
    </li>
    <li class="iphone_block">
      <div class="service_img_cover">
        <img src="iphone_10.png">
      </div>
    </li>
  </ul>

  <ul class="project metagallery_project">
    <!-- <h2>Metagallery</h2> -->
    <li class="favicon_block">
      <div class="service_img_cover">
        <img src="metagallery/favicon.png">
      </div>
    </li>
    <li class="ogp_block">
      <div class="service_img_cover">
        <img src="metagallery/metagallery_ogp.png">
      </div>
      <div class="description_text">
        <p class="service_title">サイトのMetaTag一覧 | メタギャラリー</p>
        <p>様々なサイトの「title」「meta description」「meta keyword」「ogp画像」「favicon」「ドメイン」を見ることが出来るサービスです。知りたいサイトのはURLを入力して、調べてみましょう。ぜひ他社のサイトを参考にしてご自身のサイトにご活用してみて下さい。</p>
      </div>
    </li>
    <li class="imac_block">
      <div class="service_img_cover">
        <img src="metagallery/metagallery_imac.png">
      </div>
    </li>
    <li class="iphone_block">
      <div class="service_img_cover">
        <img src="metagallery/metagallery_iphone.png">
      </div>
    </li>
  </ul>

  <ul class="project cafepedia_project">
    <li class="favicon_block">
      <div class="service_img_cover">
        <img src="cafepedia/favicon.png">
      </div>
    </li>
    <li class="ogp_block">
      <div class="service_img_cover">
        <img src="cafepedia/cafepedia_ogp.png">
      </div>
      <div class="description_text">
        <p class="service_title">カフェぺディア | あなたの近くにあるカフェがすぐに見つかる</p>
        <p>カフェペディアは、全国のカフェの設備情報サイトです。「Wi-Fi」「コンセント」「喫煙席」など設備に応じて気になるカフェを探すことが可能です。位置情報をONにすれば、すぐにあなたの近くにあるカフェもわかります。是非カフェ探しにご活用ください!</p>
      </div>
    </li>
    <li class="imac_block">
      <div class="service_img_cover">
        <img src="cafepedia/cafepedia_imac.png">
      </div>
    </li>
    <li class="iphone_block">
      <div class="service_img_cover">
        <img src="cafepedia/cafepedia_iphone.png">
      </div>
    </li>
  </ul>
</section>

<section id="skills">
  <div class="skill_img_cover">
    <img src="skills/html5_logo.png">
  </div>
  <div class="skill_img_cover">
    <img src="skills/css3_logo.png">
  </div>
  <div class="skill_img_cover">
    <img src="skills/javascript_logo.png">
  </div>
  <div class="skill_img_cover">
    <img src="skills/vue_logo.png">
  </div>
  <div class="skill_img_cover">
    <img src="skills/ruby_logo.png">
  </div>
  <div class="skill_img_cover">
    <img src="skills/rails_logo.png">
  </div>
  <div class="skill_img_cover">
    <img src="skills/heroku_logo.png">
  </div>
  <div class="skill_img_cover">
    <img src="skills/aws_logo.png">
  </div>
  <div class="skill_img_cover">
    <img src="skills/github_logo.png">
  </div>
</section>
