<section id="profile">
  <div class="parallax parallax_header">
    <div class="header_img_block">
      <div style="background-image:url('profile_header.jpg');" class="profile_header"></div>
      <div class="profile_icon_block">
        <img src="profile.jpg" class="profile_icon">
      </div>
    </div>
  </div>
  <div class="parallax parallax_prof">
    <h1 class="hidden_anime">Hajime Watanabe</h1>
    <div class="sns_block hidden_anime">
      <a href="https://twitter.com/hatsu_38" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.facebook.com/hajiwata.38" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://github.com/toywonder" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="http://amzn.asia/4XLjbqw" target="_blank">
        <i class="fab fa-amazon"></i>
      </a>
    </div>
    <div class="profile_text_block">
      <p class="lang_eng hidden_anime">I am 24 years old writing a code at a cafe. It is happy how far you can maximize "number of users × customer satisfaction" with my service. Starbucks | Planetarium | Shogi | TED | Ruby | Rails | Vue.js</p>
      <p class="lang_jpn hidden_anime">カフェでコード描く24歳。「ユーザー数×顧客満足度」が自分のサービスでどこまで最大化出来るか、それが幸せ。スタバ | プラネタリウム | 将棋 | TED | Ruby | Rails | Vue.js</p>
    </div>
  </div>
</section>

<div class="section_border"></div>

<section id="projects">
  <div class="parallax parallax_title_project">
    <h2 id="project_title" class="section_title">Project</h2>
  </div>
  <div class="parallax parallax_content_project">
    <div id="tedradio_project" class="project hidden_anime">
      <img src="tedradio_ogp.png" id="tedradio_ogp_img" class="project_img">
      <div id="tedradio_detail" class="project_detail">
        <div class="project_detail_img">
          <img src="tedradio_favicon.png" class="project_favicon_img">
        </div>
        <div class="project_detail_text">
          <h4 class="project_detail_title">日本語音声で聞けるTEDメディア | TEDRadio</h4>
          <a href="https://www.tedradio.jp" target="_blank" class="site_visit_link">www.tedradio.jp</a>
          <p class="project_detail_sentence">TEDRadioは、外国語のTEDでも日本語音声で聞けるTED日本語音声メディアです。字幕を見るために目が離せなくなっていたTEDも、楽に聞けるようになりました。有名TEDを是非日本語で聞いてみてください！</p>
        </div>
      </div>
      <div id="project_info_tedradio" class="project_info">
        <h3 class="project_title">
          <a href="https://www.tedradio.jp" target="_blank">TEDRadio</a>
        </h3>
        <span class="project_date">2018.11</span>
      </div>
    </div>

    <div id="metagallery_project" class="project hidden_anime">
      <img src="metagallery_ogp.png" id="metagallery_ogp_img" class="project_img">
      <div id="metagallery_detail" class="project_detail">
        <div class="project_detail_img">
          <img src="metagallery_favicon.png" class="project_favicon_img">
        </div>
        <div class="project_detail_text">
          <h4 class="project_detail_title">サイトのMetaTag一覧 | メタギャラリー</h4>
          <a href="https://metagallery.jp" target="_blank" class="site_visit_link">metagallery.jp</a>
          <p class="project_detail_sentence">様々なサイトの「title」「meta description」「meta keyword」「ogp画像」「favicon」「ドメイン」を見ることが出来るサービスです。知りたいサイトのはURLを入力して、調べてみましょう。ぜひ他社のサイトを参考にしてご自身のサイトにご活用してみて下さい。</p>
        </div>
      </div>
      <div id="project_info_metagallery" class="project_info">
        <h3 class="project_title">
          <a href="https://metagallery.jp" target="_blank">Metagallery</a>
        </h3>
        <span class="project_date">2018.10</span>
      </div>
    </div>

    <div id="cafepedia_project" class="project hidden_anime">
      <img src="cafepedia_ogp.png" id="cafepedia_ogp_img" class="project_img">
      <div id="cafepedia_detail" class="project_detail">
        <div class="project_detail_img">
          <img src="cafepedia_favicon.png" class="project_favicon_img">
        </div>
        <div class="project_detail_text">
          <h4 class="project_detail_title">あなたの近くにあるカフェがすぐに見つかる | カフェぺディア</h4>
          <a href="https://cafepedia.jp" target="_blank" class="site_visit_link">cafepedia.jp</a>
          <p class="project_detail_sentence">カフェペディアは、全国のカフェの設備情報サイトです。「Wi-Fi」「コンセント」「喫煙席」など設備に応じて気になるカフェを探すことが可能です。位置情報をONにすれば、すぐにあなたの近くにあるカフェもわかります。是非カフェ探しにご活用ください!</p>
        </div>
      </div>

      <div id="project_info_cafepedia" class="project_info">
        <h3 class="project_title">
          <a href="https://cafepedia.jp" target="_blank">Cafepedia</a>
        </h3>
        <span class="project_date">2018.9</span>
      </div>
    </div>
  </div>
</section>

<div class="section_border"></div>

<section id="skill">
  <div class="parallax parallax_title_skill">
    <h2 id="skill_title" class="section_title skill_section_title">Skills</h2>
  </div>
  <ul class="list-group skills parallax parallax_content_skill">
    <div id="front_skills">
      <h3 id="front_skill" class="skill_list_title">フロントエンド</h3>
      <div class="skill_list">
        <li class="html_skill">
          <span class="skill_name">HTML5</span>
          <!-- <span class="skill_level">Lv.5</span> -->
          <div class="progress">
            <div id="html_progress" class="progress-bar progress-bar-striped" role="progressbar" >Lv.5</div>
          </div>
        </li>
        <li class="css_skill">
          <span class="skill_name">CSS3</span>
          <!-- <span class="skill_level">Lv.5</span> -->
          <div class="progress">
            <div id="css_progress" class="progress-bar progress-bar-striped" role="progressbar" >Lv.5</div>
          </div>
        </li>
        <li class="js_skill">
          <span class="skill_name">Javascript</span>
          <!-- <span class="skill_level">Lv.4</span> -->
          <div class="progress">
            <div id="js_progress" class="progress-bar progress-bar-striped" role="progressbar" >Lv.4</div>
          </div>
        </li>
        <li class="jquery_skill">
          <span class="skill_name">jQuery</span>
          <!-- <span class="skill_level">Lv.4</span> -->
          <div class="progress">
            <div id="jquery_progress" class="progress-bar progress-bar-striped" role="progressbar" >Lv.4</div>
          </div>
        </li>
        <li class="vue_skill">
          <span class="skill_name">Vue.js</span>
          <!-- <span class="skill_level">Lv.3</span> -->
          <div class="progress">
            <div id="vue_progress" class="progress-bar progress-bar-striped" role="progressbar" >Lv.3</div>
          </div>
        </li>
      </div>
    </div>

    <div id="back_skills">
    <h3 id="back_skill" class="skill_list_title">バックエンド</h3>
    <div class="skill_list">
      <li class="ruby_skill">
        <span class="skill_name">Ruby</span>
        <!-- <span class="skill_level">Lv.4</span> -->
        <div class="progress">
          <div id="ruby_progress" class="progress-bar progress-bar-striped" role="progressbar" >Lv.4</div>
        </div>
      </li>
      <li class="ror_skill">
        <span class="skill_name">RubyOnRails</span>
        <!-- <span class="skill_level">Lv.4</span> -->
        <div class="progress">
          <div id="ror_progress" class="progress-bar progress-bar-striped" role="progressbar" >Lv.4</div>
        </div>
      </li>
    </div>
    </div>

    <div id="server_skills">
      <h3 id="server_skill" class="skill_list_title">サーバー</h3>
      <div class="skill_list">
        <li class="heroku_skill">
          <span class="skill_name">Heroku</span>
          <!-- <span class="skill_level">Lv.3</span> -->
          <div class="progress">
            <div id="heroku_progress" class="progress-bar progress-bar-striped" role="progressbar" >Lv.3</div>
          </div>
        </li>
        <li class="aws_skill">
          <span class="skill_name">AWS</span>
          <!-- <span class="skill_level">Lv.2</span> -->
          <div class="progress">
            <div id="aws_progress" class="progress-bar progress-bar-striped" role="progressbar" >Lv.2</div>
          </div>
        </li>
      </div>
    </div>
    <!-- <li class="github_skill"> -->
    <!--   <span class="skill_name">Github</span> -->
    <!--   <!&#45;&#45; <span class="skill_level">Lv.3</span> &#45;&#45;> -->
    <!--   <div class="progress"> -->
    <!--     <div class="progress&#45;bar progress&#45;bar&#45;striped" role="progressbar" >Lv.3</div> -->
    <!--   </div> -->
    <!-- </li> -->
    <!--  -->
  </ul>
</section>

<div class="section_border"></div>

<section id="act">
  <div class="parallax parallax_title_act">
    <h2 id="act_title" class="section_title">Act</h2>
  </div>
  <div class="parallax parallax_content_act">

    <div class="github_contribution hidden_anime">
      <div class="github_title">
        <a href="https://github.com/toywonder" target="_blank">
          <img src="https://avatars.githubusercontent.com/toywonder?s=40">
          toywonder's Contributions
        </a>
      </div>
      <div class="github_body">
        <img src="https://ghchart.rshah.org/toywonder" class="github_grass">
        <div class="github_links">
          <span class="github_powered">Powered by
            <a href="https://ikuwow.github.io/yourcontributions/" target="_blank">Yourcontributions</a>
          </span>
          <a href="https://github.com/toywonder" target="_blank" class="github_seeon">See on GitHub</a>
        </div>
      </div>
    </div>
    <!-- <div class="read_books"> -->
      <!-- <script type="text/javascript" src="//widget.booklog.jp/blogparts/js/booklog_minishelf.js?default" id="booklog_minishelf"></script> -->
      <!-- <script type="text/javascript" src="//api.booklog.jp/json/7e6d5ae388ea0f45?category=0&#38;count=35&#38;callback=booklog_minishelf"></script> -->
    <!-- </div> -->
    <ul id="recent_books" class=""></ul>
    <script src="http://api.booklog.jp/json/7e6d5ae388ea0f45?category=0&count=30&callback=booklog_minishelf_img"></script>
  </div>
</section>
