/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@media only screen and (min-width: 0){
  html{
      font-size:10px !important;
    body{
      font-family: OptimaLTPro-Roman,Ryumin Regular KL,serif;
      font-size:10px;
    }
  }
}
section{
  background-color:#fff;
}
//パララックス
.parallax{
  background-color:#fff;
  position: -webkit-sticky;
  position: sticky;
}
.parallax_header{
  top:0px;
  z-index:1;
}
.parallax_prof{
  top:0px;
  z-index:0;
}
.parallax_title_project{
  top:0px;
  z-index:4;
}
.parallax_content_project{
  top:50px;
  z-index:0;
}
.parallax_title_skill{
  top:0px;
  z-index:6;
}
.parallax_content_skill{
  top:50px;
  z-index:0;
}
.parallax_title_act{
  top:0px;
  z-index:8;
}
.parallax_content_act{
  top:50px;
  z-index:0;
}

.section_border{
  border-bottom: 1px solid #efefef;
  margin:0 16px;
}
.section_title{
  font-size:2.2rem;
  color:#525058;
  text-align:center;
  margin:.8rem auto .8rem;
  line-height:50px;
}
.section_title_top{
  background: rgb(216, 235, 233);
  color:#485054;
}

.hidden_anime{
  opacity: 0;
  transform: translate(0,60px);
  -webkit-transform: translate(0,60px);
  transition: .8s;
}
.fadein_anime{
  opacity: 1.0 !important;
  transform: translate(0,0) !important;
  -webkit-transform: translate(0,0) !important;
}
footer{
  .footer_copy{
    font-size:12px;
    text-align:center;
  }
}

#profile{
  .header_img_block{
    position:relative;
    .hp_title{
      line-height:180px;
      text-align:center;
      background-color:#222;
      color:#fff;
      background-color:#d8ebe9;
      color:#485054;
      margin:0;
      border-bottom:1px solid #ddd;
      padding-bottom:10px;
    }
    .background_icons{
        position:absolute;
        top:115px;
        width:100%;
        text-align:center;
        font-size:1.2rem;
      i{
        color:#fff;
        color:#485054;
        margin:7px;
      }
    }
    .profile_header{
      height:180px;
      width:100%;
      background-size:cover;
    }
    .profile_icon_block{
      position:absolute;
      left:0;
      right:0;
      bottom:-3em;
      text-align:center;
      .profile_icon{
        border-radius:50%;
        width:85px;
        height:85px;
        border:1px solid #ccc;
      }
    }
  }
  h1{
    font-size:1.5rem;
    color:#525558;
    text-align:center;
    margin:4.1rem auto 0;
    padding-top:1rem;
  }
  .sns_block{
    text-align:center;
    margin-top: .5rem;
    font-size: 1.55rem;
   a{
      margin:0 8px;
      i{
        color:#A8ABB1;
      }
   }
  }
  .profile_text_block{
    padding:0 16px 8px;
    p{
      margin:.5rem 0 1.5rem;
    }
    .lang_eng{
      font-size:1.44rem;
    }
    .lang_jpn{
      font-size:1.3rem;
    }
  }
}

#projects{
  .project{
    text-align:center;
    .project_detail{
      display:none;
      width:80%;
      margin:6rem auto 1.1rem;
      padding: 5px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
      position:relative;
      .project_detail_img{
        position:absolute;
        width:100%;
        top:-5rem;
        text-align:center;
        img{
          width:88px;
          border-radius: 50%;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
        }
      }
      .project_detail_text{
        margin-top:5rem;
          font-size:1.3rem;
        h4{
          font-size:1.3rem;
          font-weight:bold;
          margin-bottom:.1rem;
        }
        p{
          margin:1rem 1rem 0;
        }
      }
    }
    .project_img{
      position: relative;
      width:80%;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
      max-width:100%;
    }
    .project_info{
      margin:4px auto 30px;
      color:#646460;
      .project_title{
        font-size:14px;
        margin:0;
        a{
          color:#646460;
          cursor:pointer;
        }
      }
      .project_date{
        font-size:10px;
      }
    }
  }
}

#skill{
  .skill_section_title{
    margin-bottom:0;
  }
  .list-group{
    margin:0 16px 30px;
    #front_skills{
      margin-top:0;
      margin-bottom:.1rem;
    }
    #back_skills,#server_skills{
        margin-top:3rem;
    }
    h3{
      font-size:1.8rem;
    }
    .skill_list{
      width:90%;
      margin:0 auto;
      li{
        list-style:none;
        margin:.5rem 0;
        .skill_name{
          font-size:1.6rem;
        }
        .skill_level{
          font-size:1.2rem;
        }
        .progress{
          height:12px;
          margin:0;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
          background-color:#fff;
          .progress-bar{
            line-height:12px;
          }
          .lv_five{
            width:100%;
          }
          .lv_four{
            width:80%;
          }
          .lv_three{
            width:60%;
          }
          .lv_two{
            width:40%;
          }
        }
      }
    }
    .ruby_skill{
      .progress-bar{
        background-color:#C7243A;
      }
    }
    .js_skill{
      .progress-bar{
        background-color:#EDAD0B;
      }
    }
    .html_skill{
      .progress-bar{
        background-color:#B61972;
      }
    }
    .css_skill{
      .progress-bar{
        background-color:#3261AB;
      }
    }
    .ror_skill{
      .progress-bar{
        background-color:#A4C520;
      }
    }
    .jquery_skill{
      .progress-bar{
        background-color:#23AC0E;
      }
    }
    .vue_skill{
      .progress-bar{
        background-color:#009250;
      }
    }
    .heroku_skill{
      .progress-bar{
        background-color:#009F8C;
      }
    }
    .aws_skill{
      .progress-bar{
        background-color:#0086AB;
      }
    }
    .github_skill{
      .progress-bar{
        background-color:#932674;
      }
    }
  }
}

#act{
  .github_contribution{
    margin:0 16px 3rem;
    max-width:100%;
    overflow:hidden;
    border:1px solid #d8d8d8;
    border-radius:3px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    .github_title{
      background-color: #f5f5f5;
      border-bottom: 1px solid #d8d8d8;
      padding: 5px 0;
      font-size: 14px;
      font-weight: bold;
      text-align:center;
      img{
        border-radius:50%;
        width:25px;
      }
    }
    .github_body{
      .github_grass{
        float: right;
        padding:4px 1px 0;
      }
      .github_links{
        font-size:11px;
        .github_powered,.github_seeon{
          padding: 4px 10px 4px;
        }
        .github_powered{
          float:left;
        }
        .github_seeon{
          float:right;
        }
      }
    }
  }
  .read_books{
    div{
      margin:0 auto;
      width:200px;
      div{
        margin:0 auto;
      }
    }
  }
  #recent_books{
    width:80%;
    margin:0 auto;
    padding:0;
    .bookImage{
      list-style:none;
      width:20%;
      display:inline-block;
      padding:4px;
      img{
        width:100%;
        max-width:100%;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
.fixed-action-btn.direction-left{
  .share_btn{
    background-color:#d8ebe9;
  }
  .btn-floating.btn-large{
    width: 35px;
    height: 35px;
    line-height:35px;
    background-color:#485054;
    i{
      line-height: 35px;
      font-size:1.8rem;
    }
  }
  ul{
    right:34px !important;
    top:35% !important;
    li{
      margin:0px 10px 0 0 !important;
      .btn-floating{
        width:30px;
        height:30px;
        line-height:30px;
        i{
          line-height:30px;
        }
      }
      .twitter{
        background-color:#00aced;
      }
      .facebook{
        background-color:#305097;
      }
    }
  }
}



@media screen and (min-width: 640px) {
  #profile{
    .profile_text_block{
      display:flex;
      width:80%;
      margin:0 auto;
      p{
        width:50%;
        padding:5px;
      }
      .lang_eng{
        border-right:1px solid #aaa;
      }
      .lang_jpn{
        font-size:1.44rem;
      }
    }
    .header_img_block{
      .background_icons{
        i{
          margin:7px 20px;
        }
      }
    }
  }
  #projects{
    .parallax_content_project{
      width:80%;
      margin:0 auto;
      display:flex;
      .project{
        width:33%;
        .project_img,.project_detail{
          width:90%;
        }
      }
    }
  }
  #skill{
    .parallax_content_skill{
      width:80%;
      margin:0 auto;
      display:flex;
      .skill_lists{
        width:33%;
        padding:5px;
      }
      #front_skills,#back_skills,#server_skills{
        margin-top:0;
      }
    }
  }
  #act{
    .parallax_content_act{
      width:80%;
      max-width:760px;
      margin:0 auto;
      .github_contribution{
        .github_grass{
          width:100%;
        }
      }
      #recent_books{
        width:90%;
        .bookImage{
          width:10%;
        }
      }
    }
  }
}

